registry=https://registry.npmjs.org/
# disable some work related defaults
_auth=
email=
#strict-ssl=false
shell-emulator=true
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-dom
