# disable some work related defaults
_auth=
email=
#strict-ssl=false

# pnpm v8 defaults
auto-install-peers=true
dedupe-peer-dependents=true
use-lockfile-v6=true
save-workspace-protocol=rolling
resolve-peers-from-workspace-root=true
