@import '../../variables';

.desktop_container {
  & .ui.segment.desktop_container__topbar {
    min-height: var(--topbarHeight);
    padding: 0 18px;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  & .ui.sidebar.desktop_container__sidebar {
    width: var(--menuWidth);
  }

  & .desktop_container__content_wrapper {
    margin-left: var(--menuWidth);
  }
}

.mobile_container {
  & .mobile_container__sidebar {
    min-height: 100vh;
  }

  & .ui.segment.mobile_container__topbar {
    min-height: var(--topbarHeight);
    padding: 0;
  }

  & .ui.menu .item.mobile_container__icon_wrapper {
    padding: 12px 0;
  }
}

.topbar__acnw_title {
  height: var(--topbarHeight);
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.topbar__acnw_login {
  height: var(--topbarHeight);
  line-height: var(--topbarHeight);
  font-weight: bold;
  font-size: 14px;
}
