@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
code,
pre {
  font-family: 'Roboto Mono', source-code-pro, monospace;
}
